html {
  box-sizing: border-box;
  background-color: mediumslateblue;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-align: center;
}

* {
  /* border: 1px solid red; */
  margin: 10px;
  border-radius: 5em;
}

button {
  border: none;
  font-size: 1em;
}

table {
  border: 1px solid turquoise;
  padding: 1em;
}

.round {
  display: flex;
  justify-content: space-around;
}

.score {
  display: flex;
  justify-content: center;
}

.score-row {
  height: 2em;
}

.score-header {
  /* background-color: coral; */
  width: 3em;
}

.score-data {
  background-color: lightcoral;
  color: white;
  width: 3em;
  height: 3em;
  font-size: 2em;
}

.computer,
.player {
  display: flex;
  justify-content: center;
}

.computer {
  background-color: turquoise;
}

.player {
  background-color: violet;
}

.computer-buttons,
.player-buttons {
  display: flex;
  flex: 1;
}

.computer-buttons button,
.player-buttons button {
  flex: 1;
  height: 5em;
}

.message {
  border: 1px solid turquoise;
  padding: 20px;
}
