html {
  box-sizing: border-box;
  background-color: mediumslateblue;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-align: center;
}

* {
  /* border: 1px solid red; */
  margin: 10px;
  border-radius: 5em;
}

/* body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

button {
  border: none;
  font-size: 1em;
}

img {
  border-radius: 0px;
  margin: 0px;
}

table {
  border: 1px solid turquoise;
  padding: 1em;
}

.score {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 15px 1px black;
}

.score-row {
  height: 2em;
}

.score-header {
  width: 3em;
}

.score-data {
  background-color: lightcoral;
  color: white;
  width: 3em;
  height: 3em;
  font-size: 2em;
}

.computer,
.player {
  display: flex;
  justify-content: center;
}

.computer {
  /* border: 1px solid black; */
  background-color: turquoise;
  /* box-shadow: 0px 0px 15px 1px black; */
}

.player {
  /* border: 1px solid black; */
  background-color: violet;
  /* box-shadow: 0px 0px 15px 1px black; */
}

.computer-buttons,
.player-buttons {
  display: flex;
  flex: 1;
}

.computer-buttons button,
.player-buttons button {
  flex: 1;
  height: 5em;
}

.computer-buttons button {
  background-color: lightgray;
  color: grey;
}

.player-buttons button {
  border: 3px solid lightcoral;
  box-shadow: 0px 0px 15px 1px black;
}

.message-top,
.message-middle,
.message-bottom {
  border: 1px solid turquoise;
  box-shadow: 0px 0px 15px 1px black;
  padding: 20px;
}
